/* this is included in conf.py
.wy-side-nav-search {
    background-color: #FB48C4;
}
*/

body {
    background: #252525;
    color: white;
}

.wy-body-for-nav {
    background: #252525;
    color: white;
}

img.logo {
  image-rendering: crisp-edges;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #ff00ff;
}

.wy-nav-side {
    background: black;
    border-right-color: #cc00cc;
    border-right-style: solid;
    border-right-width: 3px;
}

.wy-nav-content {
    background: #252525;
    color: white;
}

.wy-nav-content-wrap {
    background: #222222;
}

.wy-side-nav-search input[type="text"] {
    border-color: black;
    border-radius: 5px;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt {
    border-top-color: #ff00ff;
    background: black;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    color: #ff00ff;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    background: black;
    color: white;
    border-left: 3px solid #ff00ff;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .descname,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .descclassname,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .sig-prename,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) .sig-name {
    color: #ff00ff;
}

.rst-versions {
    border-right: 3px solid #cc00cc;
    background: black;
}
.rst-versions .rst-other-versions{
    background: black;
}

.rst-content .warning {
    background: #660000;
}

.rst-content .warning .admonition-title{
    background: #AA0000;
}

.rst-content .note {
    background: #204050;
}

.rst-content .note .admonition-title{
    background: #4080A0;
}

.rst-versions .rst-current-version {
    border-top: 1px solid #252525;
    background: black;
    font-weight: 700;
    color: #ff00ff;
}

.rst-content :not(footer) a:not(.headerlink):not(.icon) {
    background: black;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    padding: 2px 5px 2px 5px;
    font-weight: 400;
    font-size: 85%;
    line-height: 24px;
    white-space: nowrap;
    border: 1px solid black;
}

.rst-content a:hover,
.rst-content a:active {
    color: white;
}

.rst-content a:visited,
.rst-content a:link {
    color: #40ff90;
}

footer a:visited,
footer a:link,
.headerlink:visited,
.headerlink:link,
.icon:visited,
.icon:link,
.toctree-wrapper a:visited,
.toctree-wrapper a:link {
    color: #ff00ff !important;
}

.rst-content.style-external-links a.reference.external::after {
    color: #40ff90;
    font-size: 85%;
    padding-left: 3px;
    vertical-align: baseline;
}

.rst-content code {
    background: #252525;
    color: white;
    border-color: black;
    font-size: 85%;
}

.rst-content code.literal, .rst-content tt.literal {
    background: black;
    color: #ff00ff !important;
}

.rst-content div[class^="highlight"] pre {
    font-size: 13px;
}


.highlight {
    background: black;
    color: white;
}

.highlight .sd,
.highlight .s2,
.highlight .s1,
.highlight .c1 {
    color: #80FFFF;
}

.highlight .nc,
.highlight .fm,
.highlight .ne,
.highlight .nf {
    color: #40FF80;
}

.highlight .bp,
.highlight .o,
.highlight .ow,
.highlight .kn,
.highlight .k,
.highlight .nn,
.highlight .mf,
.highlight .nb,
.highlight .mi,
.highlight .kc {
    color: white;
}


.rst-content .note .wy-alert-title,
.rst-content .seealso .admonition-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .admonition-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.wy-alert.wy-alert-info .wy-alert-title {
    background: #cc00cc;
    color: white;
}

.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
    background: #cc00cc10;
    color: white;
}
