{% if versions %}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      firmware version: {{ current_version.name }}
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl>
        {% if versions %}
        {% for item in versions %}
          <dd><a href="{{ item.url }}">{{ item.name }}</a></dd>
        {% endfor %}
        {% endif %}
      </dl>
    </div>
  </div>
{% endif %}

